<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'event/style.css' %}">

</head>
<body>
    <header>
        <h1>調整くん</h1>
        <nav>
            <ul class="nav_content">
                <li><a href="{% url 'event:index' %}">ホーム</a></li>
                <li><a href="{% url 'event:eventlist' %}">イベント一覧</a></li>
            </ul>
        </nav>
    </header>

    <h2>イベント名：</h2>
    <h2>候補日</h2>
    <ul>
        
    </ul>
</body>
</html>