<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <!-- css -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'event/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'event/style1.css' %}">
</head>

<body>
    <header>
        <h1>調整くん</h1>
        <nav>
            <ul class="nav_content">
                <li><a href="{% url 'event:index' %}">ホーム</a></li>
                <li><a href="{% url 'event:eventlist' %}">イベント一覧</a></li>
            </ul>
        </nav>
    </header>

    <form action="{% url 'event:CreateEvent' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <label for="name">イベント名</label>
            <input type="text" id="name" name="text" placeholder="最大20文字まで">
        </fieldset>
        <!-- <fieldset>
            <label for="name">日程</label>
            <input type="text" id="date" name="date">
        </fieldset> -->
        <button type="submit" value="CreateEvent">登録！</button>
    </form>
</body>

</html>