body {
    width: 85%;
    margin: 10px auto;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: #000 solid 1px;
}

h1 {
    margin: 0;
    font-size: 15px;
}

a {
    text-decoration: none;
}

.nav_content {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav_content li {
    margin-left: 20px;
}

.nav_content a {
    color: #000;
}
